.sheet_ui_scroll {
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.sheet_ui_scroll:focus,
.sheet_ui_scroll:focus-visible {
  outline: none;
}

.sheet_ui_canvas {
  min-width: 100%;
  min-height: 100%;
}

.sheet_ui_editor {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.sheet_ui_cell.active,
.sheet_ui_header_cell.active,
.sheet_ui_editor:focus {
  color: rgb(var(--color-default));
  outline: none;
}

.sheet_ui_cell.single_clicked,
.sheet_ui_cell.active,
.sheet_ui_header_cell.active {
  overflow: visible;
}

.sheet_ui_cell.active {
  z-index: 33;
}

.sheet_ui_editor:focus {
  position: relative;
}

/*
We're not going to show border on editing HEADER cells because:
1. the overflow on horizontal scroll hides the upper border
2. we're going to make header cells clickable and go into full edit mode for the entire column later.
*/

/* .sheet_ui_header_cell.active::before { */
.sheet_ui_cell.active::before {
  content: ' ';
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid rgb(var(--color-main));
  pointer-events: none;
  z-index: 1;
}

.sheet_ui_cell.single_clicked {
  border-color: var(--color-contrast);
  border-color: red !important;
}

.sheet_ui_cell.single_clicked::before {
  content: ' ';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid var(--color-contrast);
  pointer-events: none;
  z-index: 1;
}

.sheet_ui_cell.not_editable::before {
  border-color: var(--color-contrast);
}

.sheet_selection_box {
  z-index: 3;
}

.sheet_selection_box::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed var(--color-contrast);
  pointer-events: none;
  z-index: 1;
}

/* .sheet_ui_editor.error:focus::before {
  border-color: rgb(var(--color-error));
} */

/* .sheet_ui_editor.error {
  background-color: rgba(var(--color-error-faded), .1);
} */

/* Overlay editor */

.sheet_overlay_editor input, .sheet_overlay_editor textarea {
  border: 1px solid rgba(0,0,0,0);
}

.sheet_overlay_editor input:focus, .sheet_overlay_editor textarea:focus {
  border-color: var(--color-darker-bold);
}

.sheet_overlay_editor textarea {
  resize: vertical;
}
