.sheet_ui_scroll {
  overflow: auto;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.sheet_ui_canvas {
  min-width: 100%;
  min-height: 100%;
}

.sheet_ui_editor {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.sheet_ui_cell.active,
.sheet_ui_editor:focus {
  color: rgb(var(--color-default));
  outline: none;
}

.sheet_ui_cell.active {
  overflow: visible;
  z-index: 33;
}

.sheet_ui_editor:focus {
  position: relative;
}

.sheet_ui_cell.active::before {
  content: ' ';
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid rgb(var(--color-main));
  pointer-events: none;
  z-index: 1;
}

.sheet_ui_cell.not_editable::before {
  border-color: var(--color-contrast);
}

/* .sheet_ui_editor.error:focus::before {
  border-color: rgb(var(--color-error));
} */

/* .sheet_ui_editor.error {
  background-color: rgba(var(--color-error-faded), .1);
} */

/* Overlay editor */

.sheet_overlay_editor input, .sheet_overlay_editor textarea {
  border: 1px solid rgba(0,0,0,0);
}

.sheet_overlay_editor input:focus, .sheet_overlay_editor textarea:focus {
  border-color: var(--color-darker-bold);
}
