
/* Timeline; horizontal */

.x_timeline {
  position: relative;
  background-color: rgb(var(--color-bg-active));
}

.x_timeline .tl_dot_cnt {
  position: absolute;
  top: 50%;
}

.x_timeline.horizontal .tl_dot_cnt {
  transform: translate(-50%, -50%);
}

.x_timeline.compact .tl_dot_cnt {
  transform: translate(0, -50%);
  margin-left: -7.5px;
}

.x_timeline .tl_dot {
  box-sizing: content-box;
}

/* .x_timeline .selected {
  background-color: #7F7F7F;
} */

.x_timeline .not_selected .tl_text {
  color: rgb(var(--color-bg-medium));
}

.x_timeline .tl_icon {
  position: absolute;
  width: 40px; height: 40px;
  transform: translate(-15px, -42px);
  font-size: 1.55rem;
  color: rgb(var(--color-bg-medium));
}

.x_timeline .not_last_selected .tl_icon {
  transform: translate(-15px, -42px) scale(.78);
}

.x_timeline .tl_text {
  position: absolute;
  left: 50%;
  max-width: 100px;
  transform: translate(-50%, 14px);
}

.x_timeline .tl_dot.start .tl_text {
  transform: translate(-25%, 14px);
}

.x_timeline .tl_dot.start .tl_text {
  transform: translate(-25%, 14px);
}

.x_timeline .tl_dot.end .tl_text {
  transform: translate(-75%, 14px);
}

.x_timeline .tl_progress {
  top: 0; bottom: 0;
}

/* Timeline; compact */

.x_timeline.compact {
  align-self: center;
}

/* Timeline; glow on dots on hover */

.x_timeline .tl_dot_hv .tl_dot:before {
  content: ' ';
  position: absolute; z-index: -1;
  top: -6px; left: -6px;
  /* transform: translate(-50%, -50%); */
  transform: scale(.1);
  width: 14px; height: 14px;
  border-radius: 50%;
  background-color: rgba(var(--color-primary), 1);
  opacity: 0;
  transition: transform .15s ease, opacity .15s ease;
}

.x_timeline .tl_dot_hv:hover .tl_dot:before {
  opacity: 1;
  transform: scale(1);
}
