
/* Page elements */

.rel { position: relative; }
.sticky { position: sticky; }
.sticky_top { position: sticky; top: 0; left: 0; right: 0; }
.sticky_bottom { position: sticky; bottom: 0; left: 0; right: 0; }

.abs_l_center, .abs_r_center,
.abs, .abs_l, .abs_r, .abs_t, .abs_b, .abs_full,
.abs_corner, .abs_corner_xs, .abs_corner_sm, .abs_corner_df, .abs_corner_md {
  position: absolute;
}

.fixed, .fixed_l, .fixed_r, .fixed_t, .fixed_b, .fixed_full,
.fixed_corner, .fixed_corner_xs, .fixed_corner_sm, .fixed_corner_df, .fixed_corner_md {
  position: fixed;
}

.abs_full, .fixed_full {
  top: 0; left: 0; right: 0; bottom: 0;
}

.abs_l, .fixed_l {
  top: 0; left: 0; bottom: 0;
}

.abs_r, .fixed_r {
  top: 0; right: 0; bottom: 0;
}

.abs_t, .fixed_t {
  top: 0; left: 0; right: 0;
}

.abs_b, .fixed_b {
  left: 0; right: 0; bottom: 0;
}

.abs_corner, .fixed_corner {
  top: 0; right: 0;
}

.abs_corner_xs, .fixed_corner_xs {
  top: var(--rem-xsmall);
  right: var(--rem-xsmall);
}

.abs_corner_sm, .fixed_corner_sm {
  top: var(--rem-small);
  right: var(--rem-small);
}

.abs_corner_df, .fixed_corner_df {
  top: var(--rem-default);
  right: var(--rem-default);
}

.abs_corner_md, .fixed_corner_md {
  top: var(--rem-medium);
  right: var(--rem-medium);
}

.abs_l_center {
  top: 50%; left: 0;
  transform: translateY(-50%);
}

.abs_r_center {
  top: 50%; right: 0;
  transform: translateY(-50%);
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 2em; /* This is em (not rem) on purpose */
  line-height: 1.3;
  letter-spacing: -.0375em;
  text-indent: -.0375em;

  padding: .5em 0 .25em;
  margin: 0;
  word-wrap: break-word;
}

h1, h2, h3, h4 {
  font-family: var(--font-sans-bold);
}

h5, h6, strong, .ft_bold {
  font-family: var(--font-sans-bold);
  font-weight: normal;
}

.ft_semibold {
  font-family: var(--font-sans-semibold);
  font-weight: normal;
}

strong, .ft_bold, .ft_semibold {
  letter-spacing: -.0075em;
  text-indent: -.0075em;
}

.ft_medium {
  font-family: var(--font-sans-medium);
  font-weight: normal;
}

.ft_normal {
  font-family: var(--font-sans);
}

p {
  padding: 0;
  margin: 0 0 .5em;
}

div, p {
  word-wrap: break-word;
}

.ft_tn { font-size: var(--text-xxsmall); }
.ft_xs { font-size: var(--text-xsmall); }
.ft_sm { font-size: var(--text-small); }
.ft_df { font-size: var(--text-default); }
.ft_md { font-size: var(--text-medium); }
.ft_lg { font-size: var(--text-large); }
.ft_xl { font-size: var(--text-xlarge); }
.ft_xxl { font-size: var(--text-xxlarge); }

.ft_1 { font-size: 1.1em;}
.ft_2 { font-size: 1.35em;}
.ft_3 { font-size: 1.7em;}
.ft_4 { font-size: 2.2em;}

.lh_1 { line-height: 1.1; }
.lh_2 { line-height: 1.2; }
.lh_3 { line-height: 1.3; }
.lh_4 { line-height: 1.5; }
.lh_5 { line-height: 1.7; }

.ls_1 { letter-spacing: -.08em; text-indent: -.08em; }
.ls_2 { letter-spacing: -.0425em; text-indent: -.0425em; } /* Use this when heading is .ft_normal */
.ls_3 { letter-spacing: -.025em; text-indent: -.025em; }
.ls_4 { letter-spacing: -.0175em; text-indent: -.0175em; }

h1.ft_tn, h2.ft_tn, h3.ft_tn, h4.ft_tn, h5.ft_tn, h6.ft_tn, .ft_heading_tn { font-size: var(--heading-xxsmall); }
h1.ft_xs, h2.ft_xs, h3.ft_xs, h4.ft_xs, h5.ft_xs, h6.ft_xs, .ft_heading_xs { font-size: var(--heading-xsmall); }
h1.ft_sm, h2.ft_sm, h3.ft_sm, h4.ft_sm, h5.ft_sm, h6.ft_sm, .ft_heading_sm { font-size: var(--heading-small); }
h1.ft_df, h2.ft_df, h3.ft_df, h4.ft_df, h5.ft_df, h6.ft_df, .ft_heading_df { font-size: var(--heading-default); }
h1.ft_md, h2.ft_md, h3.ft_md, h4.ft_md, h5.ft_md, h6.ft_md, .ft_heading_md { font-size: var(--heading-medium); }
h1.ft_lg, h2.ft_lg, h3.ft_lg, h4.ft_lg, h5.ft_lg, h6.ft_lg, .ft_heading_lg { font-size: var(--heading-large); }
h1.ft_xl, h2.ft_xl, h3.ft_xl, h4.ft_xl, h5.ft_xl, h6.ft_xl, .ft_heading_xl { font-size: var(--heading-xlarge); }

/* Icon */

.icon_cnt { display: flex; justify-content: center; align-items: center; }
.icon { display: block; font-size: 1.3em; }
.ic_xxxl .icon { font-size: var(--ic-xxxlarge); }
.ic_xxl .icon { font-size: var(--ic-xxlarge); }
.ic_xl .icon { font-size: var(--ic-xlarge); }
.ic_lg .icon { font-size: var(--ic-large); }
.ic_md .icon { font-size: var(--ic-medium); }
.ic_df .icon { font-size: var(--ic-default); }
.ic_sm .icon { font-size: var(--ic-small); }
.ic_xs .icon { font-size: var(--ic-xsmall); }

.ic_special { width: 18px; height: 18px; display: block; } /* default size */
.ic_xxxl .ic_special { width: 72px; height: 72px; }
.ic_xxl .ic_special { width: 60px; height: 60px; }
.ic_xl .ic_special { width: 48px; height: 48px; }
.ic_lg .ic_special { width: 29px; height: 28px; }
.ic_md .ic_special { width: 24px; height: 24px; }
.ic_df .ic_special { width: 20px; height: 20px; }
.ic_sm .ic_special { width: 14px; height: 14px; }

.shift_up { transform: translateY(-1px); }
.shift_down { transform: translateY(1px); }
.shift_left { transform: translateX(-1px); }
.shift_right { transform: translateX(1px); }

.shift_up_2 { transform: translateY(-2px); }
.shift_down_2 { transform: translateY(2px); }
.shift_left_2 { transform: translateX(-2px); }
.shift_right_2 { transform: translateX(2px); }

.move_up { transform: translateY(-4px); }
.move_down { transform: translateY(4px); }
.move_left { transform: translateX(-4px); }
.move_right { transform: translateX(4px); }

.icon { width: 1em; height: 1em; }

.ic_abs { position: relative; }
.ic_abs .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}

/* Emojis */

.noto_emoji {
  /* display: inline-block; */
  font-family: 'Noto Color Emoji', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  /* transform: translateY(-.5px); */
  /* margin: 0 .15em; */
}

.noto_emoji:first-child {
  margin-left: 0;
}

.noto_emoji:last-child {
  margin-right: 0;
}

.ft_lg .noto_emoji {
  display: inline-block;
  transform: translateY(-2px);
}

.emoji {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .1em;
  line-height: 1;
}

.emoji img {
  position: absolute;
  /* top: 0; left: 0; right: 0; bottom: 0; */
  /* top: -25%; left: -25%; right: -25%; bottom: -25%; */
  top: 0; left: 0; right: 0; bottom: 0;
  width: 1.25em;
  height: 1.25em;
}

/* Gap */

.gap_1 { gap: 1px; }
.gap_2 { gap: 2px; }
.gap_3 { gap: 3px; }
.gap_4 { gap: 4px; }
.gap_5 { gap: 5px; }
.gap_10 { gap: 10px; }
.gap_15 { gap: 15px; }

.g_fill { grid-column: 1 / -1; }

.gap_xs { gap: var(--rem-xsmall); }
.gap_sm { gap: var(--rem-small); }
.gap_df { gap: var(--rem-default); }
.gap_md { gap: var(--rem-medium); }
.gap_lg { gap: var(--rem-large); }

/* Padding */

.p_n { padding: 0 !important; }
.px_n { padding-left: 0; padding-right: 0; }
.py_n { padding-top: 0; padding-bottom: 0; }

.p_1 { padding: 1px; }
.py_1 { padding-top: 1px; padding-bottom: 1px; }
.px_1 { padding-left: 1px; padding-right: 1px; }

.p_2 { padding: 2px; }
.py_2 { padding-top: 2px; padding-bottom: 2px; }
.px_2 { padding-left: 2px; padding-right: 2px; }

.p_3 { padding: 3px; }
.py_3 { padding-top: 3px; padding-bottom: 3px; }
.px_3 { padding-left: 3px; padding-right: 3px; }

.p_4 { padding: 4px; }
.py_4 { padding-top: 4px; padding-bottom: 4px; }
.px_4 { padding-left: 4px; padding-right: 4px; }

.p_5 { padding: 5px; }
.py_5 { padding-top: 5px; padding-bottom: 5px; }
.px_5 { padding-left: 5px; padding-right: 5px; }

.p_6 { padding: 6px; }
.py_6 { padding-top: 6px; padding-bottom: 6px; }
.px_6 { padding-left: 6px; padding-right: 6px; }

.p_7 { padding: 7px; }
.py_7 { padding-top: 7px; padding-bottom: 7px; }
.px_7 { padding-left: 7px; padding-right: 7px; }

.p_8 { padding: 8px; }
.py_8 { padding-top: 8px; padding-bottom: 8px; }
.px_8 { padding-left: 8px; padding-right: 8px; }

.p_9 { padding: 9px; }
.py_9 { padding-top: 9px; padding-bottom: 9px; }
.px_9 { padding-left: 9px; padding-right: 9px; }

.p_10 { padding: 10px; }
.py_10 { padding-top: 10px; padding-bottom: 10px; }
.px_10 { padding-left: 10px; padding-right: 10px; }

.p_11 { padding: 11px; }
.py_11 { padding-top: 11px; padding-bottom: 11px; }
.px_11 { padding-left: 11px; padding-right: 11px; }

.p_12 { padding: 12px; }
.py_12 { padding-top: 12px; padding-bottom: 12px; }
.px_12 { padding-left: 12px; padding-right: 12px; }

.p_13 { padding: 13px; }
.py_13 { padding-top: 13px; padding-bottom: 13px; }
.px_13 { padding-left: 13px; padding-right: 13px; }

.p_14 { padding: 14px; }
.py_14 { padding-top: 14px; padding-bottom: 14px; }
.px_14 { padding-left: 14px; padding-right: 14px; }

.p_15 { padding: 15px; }
.py_15 { padding-top: 15px; padding-bottom: 15px; }
.px_15 { padding-left: 15px; padding-right: 15px; }

.p_20 { padding: 20px; }
.py_20 { padding-top: 20px; padding-bottom: 20px; }
.px_20 { padding-left: 20px; padding-right: 20px; }

.p_25 { padding: 25px; }
.py_25 { padding-top: 25px; padding-bottom: 25px; }
.px_25 { padding-left: 25px; padding-right: 25px; }

.p_30 { padding: 30px; }
.py_30 { padding-top: 30px; padding-bottom: 30px; }
.px_30 { padding-left: 30px; padding-right: 30px; }

.p_50 { padding: 50px; }
.py_50 { padding-top: 50px; padding-bottom: 50px; }
.px_50 { padding-left: 50px; padding-right: 50px; }

.p_xs { padding: var(--rem-xsmall); }
.py_xs { padding-top: var(--rem-xsmall); padding-bottom: var(--rem-xsmall); }
.px_xs { padding-left: var(--rem-xsmall); padding-right: var(--rem-xsmall); }

.p_sm { padding: var(--rem-small); }
.py_sm { padding-top: var(--rem-small); padding-bottom: var(--rem-small); }
.px_sm { padding-left: var(--rem-small); padding-right: var(--rem-small); }

.p_df { padding: var(--rem-default); }
.py_df { padding-top: var(--rem-default); padding-bottom: var(--rem-default); }
.px_df { padding-left: var(--rem-default); padding-right: var(--rem-default); }

.p_md { padding: var(--rem-medium); }
.py_md { padding-top: var(--rem-medium); padding-bottom: var(--rem-medium); }
.px_md { padding-left: var(--rem-medium); padding-right: var(--rem-medium); }

.p_lg { padding: var(--rem-large); }
.py_lg { padding-top: var(--rem-large); padding-bottom: var(--rem-large); }
.px_lg { padding-left: var(--rem-large); padding-right: var(--rem-large); }

.p_xl { padding: var(--rem-xlarge); }
.py_xl { padding-top: var(--rem-xlarge); padding-bottom: var(--rem-xlarge); }
.px_xl { padding-left: var(--rem-xlarge); padding-right: var(--rem-xlarge); }

.pt_n { padding-top: 0; }
.pr_n { padding-right: 0; }
.pb_n { padding-bottom: 0; }
.pl_n { padding-left: 0; }

.pt_1 { padding-top: 1px; }
.pr_1 { padding-right: 1px; }
.pb_1 { padding-bottom: 1px; }
.pl_1 { padding-left: 1px; }

.pt_2 { padding-top: 2px; }
.pr_2 { padding-right: 2px; }
.pb_2 { padding-bottom: 2px; }
.pl_2 { padding-left: 2px; }

.pt_3 { padding-top: 3px; }
.pr_3 { padding-right: 3px; }
.pb_3 { padding-bottom: 3px; }
.pl_3 { padding-left: 3px; }

.pt_4 { padding-top: 4px; }
.pr_4 { padding-right: 4px; }
.pb_4 { padding-bottom: 4px; }
.pl_4 { padding-left: 4px; }

.pt_5 { padding-top: 5px; }
.pr_5 { padding-right: 5px; }
.pb_5 { padding-bottom: 5px; }
.pl_5 { padding-left: 5px; }

.pt_6 { padding-top: 6px; }
.pr_6 { padding-right: 6px; }
.pb_6 { padding-bottom: 6px; }
.pl_6 { padding-left: 6px; }

.pt_7 { padding-top: 7px; }
.pr_7 { padding-right: 7px; }
.pb_7 { padding-bottom: 7px; }
.pl_7 { padding-left: 7px; }

.pt_8 { padding-top: 8px; }
.pr_8 { padding-right: 8px; }
.pb_8 { padding-bottom: 8px; }
.pl_8 { padding-left: 8px; }

.pt_9 { padding-top: 9px; }
.pr_9 { padding-right: 9px; }
.pb_9 { padding-bottom: 9px; }
.pl_9 { padding-left: 9px; }

.pt_10 { padding-top: 10px; }
.pr_10 { padding-right: 10px; }
.pb_10 { padding-bottom: 10px; }
.pl_10 { padding-left: 10px; }

.pt_11 { padding-top: 11px; }
.pr_11 { padding-right: 11px; }
.pb_11 { padding-bottom: 11px; }
.pl_11 { padding-left: 11px; }

.pt_12 { padding-top: 12px; }
.pr_12 { padding-right: 12px; }
.pb_12 { padding-bottom: 12px; }
.pl_12 { padding-left: 12px; }

.pt_13 { padding-top: 13px; }
.pr_13 { padding-right: 13px; }
.pb_13 { padding-bottom: 13px; }
.pl_13 { padding-left: 13px; }

.pt_14 { padding-top: 14px; }
.pr_14 { padding-right: 14px; }
.pb_14 { padding-bottom: 14px; }
.pl_14 { padding-left: 14px; }

.pt_15 { padding-top: 15px; }
.pr_15 { padding-right: 15px; }
.pb_15 { padding-bottom: 15px; }
.pl_15 { padding-left: 15px; }

.pt_20 { padding-top: 20px; }
.pr_20 { padding-right: 20px; }
.pb_20 { padding-bottom: 20px; }
.pl_20 { padding-left: 20px; }

.pt_25 { padding-top: 25px; }
.pr_25 { padding-right: 25px; }
.pb_25 { padding-bottom: 25px; }
.pl_25 { padding-left: 25px; }

.pt_30 { padding-top: 30px; }
.pr_30 { padding-right: 30px; }
.pb_30 { padding-bottom: 30px; }
.pl_30 { padding-left: 30px; }

.pt_50 { padding-top: 50px; }
.pr_50 { padding-right: 50px; }
.pb_50 { padding-bottom: 50px; }
.pl_50 { padding-left: 50px; }

.pt_xs { padding-top: var(--rem-xsmall); }
.pr_xs { padding-right: var(--rem-xsmall); }
.pb_xs { padding-bottom: var(--rem-xsmall); }
.pl_xs { padding-left: var(--rem-xsmall); }

.pt_sm { padding-top: var(--rem-small); }
.pr_sm { padding-right: var(--rem-small); }
.pb_sm { padding-bottom: var(--rem-small); }
.pl_sm { padding-left: var(--rem-small); }

.pt_df { padding-top: var(--rem-default); }
.pr_df { padding-right: var(--rem-default); }
.pb_df { padding-bottom: var(--rem-default); }
.pl_df { padding-left: var(--rem-default); }

.pt_md { padding-top: var(--rem-medium); }
.pr_md { padding-right: var(--rem-medium); }
.pb_md { padding-bottom: var(--rem-medium); }
.pl_md { padding-left: var(--rem-medium); }

.pt_lg { padding-top: var(--rem-large); }
.pr_lg { padding-right: var(--rem-large); }
.pb_lg { padding-bottom: var(--rem-large); }
.pl_lg { padding-left: var(--rem-large); }

.pt_xl { padding-top: var(--rem-xlarge); }
.pr_xl { padding-right: var(--rem-xlarge); }
.pb_xl { padding-bottom: var(--rem-xlarge); }
.pl_xl { padding-left: var(--rem-xlarge); }

/* Margin */

.m_n { margin: 0 !important; }
.mx_n { margin-left: 0; margin-right: 0; }
.my_n { margin-top: 0; margin-bottom: 0; }
.mx_auto { margin-left: auto; margin-right: auto; }

.m_1 { margin: 1px; }
.my_1 { margin-top: 1px; margin-bottom: 1px; }
.mx_1 { margin-left: 1px; margin-right: 1px; }

.m_2 { margin: 2px; }
.my_2 { margin-top: 2px; margin-bottom: 2px; }
.mx_2 { margin-left: 2px; margin-right: 2px; }

.m_3 { margin: 3px; }
.my_3 { margin-top: 3px; margin-bottom: 3px; }
.mx_3 { margin-left: 3px; margin-right: 3px; }

.m_4 { margin: 4px; }
.my_4 { margin-top: 4px; margin-bottom: 4px; }
.mx_4 { margin-left: 4px; margin-right: 4px; }

.m_5 { margin: 5px; }
.my_5 { margin-top: 5px; margin-bottom: 5px; }
.mx_5 { margin-left: 5px; margin-right: 5px; }

.m_6 { margin: 6px; }
.my_6 { margin-top: 6px; margin-bottom: 6px; }
.mx_6 { margin-left: 6px; margin-right: 6px; }

.m_7 { margin: 7px; }
.my_7 { margin-top: 7px; margin-bottom: 7px; }
.mx_7 { margin-left: 5px; margin-right: 7px; }

.m_8 { margin: 8px; }
.my_8 { margin-top: 8px; margin-bottom: 8px; }
.mx_8 { margin-left: 8px; margin-right: 8px; }

.m_9 { margin: 9px; }
.my_9 { margin-top: 9px; margin-bottom: 9px; }
.mx_9 { margin-left: 9px; margin-right: 9px; }

.m_10 { margin: 10px; }
.my_10 { margin-top: 10px; margin-bottom: 10px; }
.mx_10 { margin-left: 10px; margin-right: 10px; }

.m_11 { margin: 11px; }
.my_11 { margin-top: 11px; margin-bottom: 11px; }
.mx_11 { margin-left: 11px; margin-right: 11px; }

.m_12 { margin: 12px; }
.my_12 { margin-top: 12px; margin-bottom: 12px; }
.mx_12 { margin-left: 12px; margin-right: 12px; }

.m_13 { margin: 13px; }
.my_13 { margin-top: 13px; margin-bottom: 13px; }
.mx_13 { margin-left: 13px; margin-right: 13px; }

.m_14 { margin: 14px; }
.my_14 { margin-top: 14px; margin-bottom: 14px; }
.mx_14 { margin-left: 14px; margin-right: 14px; }

.m_15 { margin: 15px; }
.my_15 { margin-top: 15px; margin-bottom: 15px; }
.mx_15 { margin-left: 15px; margin-right: 15px; }

.m_20 { margin: 20px; }
.my_20 { margin-top: 20px; margin-bottom: 20px; }
.mx_20 { margin-left: 20px; margin-right: 20px; }

.m_25 { margin: 25px; }
.my_25 { margin-top: 25px; margin-bottom: 25px; }
.mx_25 { margin-left: 25px; margin-right: 25px; }

.m_30 { margin: 30px; }
.my_30 { margin-top: 30px; margin-bottom: 30px; }
.mx_30 { margin-left: 30px; margin-right: 30px; }

.m_50 { margin: 50px; }
.my_50 { margin-top: 50px; margin-bottom: 50px; }
.mx_50 { margin-left: 50px; margin-right: 50px; }

.m_xs { margin: var(--rem-xsmall); }
.my_xs { margin-top: var(--rem-xsmall); margin-bottom: var(--rem-xsmall); }
.mx_xs { margin-left: var(--rem-xsmall); margin-right: var(--rem-xsmall); }

.m_sm { margin: var(--rem-small); }
.my_sm { margin-top: var(--rem-small); margin-bottom: var(--rem-small); }
.mx_sm { margin-left: var(--rem-small); margin-right: var(--rem-small); }

.m_df { margin: var(--rem-default); }
.my_df { margin-top: var(--rem-default); margin-bottom: var(--rem-default); }
.mx_df { margin-left: var(--rem-default); margin-right: var(--rem-default); }

.m_md { margin: var(--rem-medium); }
.my_md { margin-top: var(--rem-medium); margin-bottom: var(--rem-medium); }
.mx_md { margin-left: var(--rem-medium); margin-right: var(--rem-medium); }

.m_lg { margin: var(--rem-large); }
.my_lg { margin-top: var(--rem-large); margin-bottom: var(--rem-large); }
.mx_lg { margin-left: var(--rem-large); margin-right: var(--rem-large); }

.m_xl { margin: var(--rem-xlarge); }
.my_xl { margin-top: var(--rem-xlarge); margin-bottom: var(--rem-xlarge); }
.mx_xl { margin-left: var(--rem-xlarge); margin-right: var(--rem-xlarge); }

.mt_n { margin-top: 0; }
.mr_n { margin-right: 0; }
.mb_n { margin-bottom: 0; }
.ml_n { margin-left: 0; }

.mt_1 { margin-top: 1px; }
.mr_1 { margin-right: 1px; }
.mb_1 { margin-bottom: 1px; }
.ml_1 { margin-left: 1px; }

.mt_2 { margin-top: 2px; }
.mr_2 { margin-right: 2px; }
.mb_2 { margin-bottom: 2px; }
.ml_2 { margin-left: 2px; }

.mt_3 { margin-top: 3px; }
.mr_3 { margin-right: 3px; }
.mb_3 { margin-bottom: 3px; }
.ml_3 { margin-left: 3px; }

.mt_4 { margin-top: 4px; }
.mr_4 { margin-right: 4px; }
.mb_4 { margin-bottom: 4px; }
.ml_4 { margin-left: 4px; }

.mt_5 { margin-top: 5px; }
.mr_5 { margin-right: 5px; }
.mb_5 { margin-bottom: 5px; }
.ml_5 { margin-left: 5px; }

.mt_6 { margin-top: 6px; }
.mr_6 { margin-right: 6px; }
.mb_6 { margin-bottom: 6px; }
.ml_6 { margin-left: 6px; }

.mt_7 { margin-top: 7px; }
.mr_7 { margin-right: 7px; }
.mb_7 { margin-bottom: 7px; }
.ml_7 { margin-left: 7px; }

.mt_8 { margin-top: 8px; }
.mr_8 { margin-right: 8px; }
.mb_8 { margin-bottom: 8px; }
.ml_8 { margin-left: 8px; }

.mt_9 { margin-top: 9px; }
.mr_9 { margin-right: 9px; }
.mb_9 { margin-bottom: 9px; }
.ml_9 { margin-left: 9px; }

.mt_10 { margin-top: 10px; }
.mr_10 { margin-right: 10px; }
.mb_10 { margin-bottom: 10px; }
.ml_10 { margin-left: 10px; }

.mt_11 { margin-top: 11px; }
.mr_11 { margin-right: 11px; }
.mb_11 { margin-bottom: 11px; }
.ml_11 { margin-left: 11px; }

.mt_12 { margin-top: 12px; }
.mr_12 { margin-right: 12px; }
.mb_12 { margin-bottom: 12px; }
.ml_12 { margin-left: 12px; }

.mt_13 { margin-top: 13px; }
.mr_13 { margin-right: 13px; }
.mb_13 { margin-bottom: 13px; }
.ml_13 { margin-left: 13px; }

.mt_14 { margin-top: 14px; }
.mr_14 { margin-right: 14px; }
.mb_14 { margin-bottom: 14px; }
.ml_14 { margin-left: 14px; }

.mt_15 { margin-top: 15px; }
.mr_15 { margin-right: 15px; }
.mb_15 { margin-bottom: 15px; }
.ml_15 { margin-left: 15px; }

.mt_20 { margin-top: 20px; }
.mr_20 { margin-right: 20px; }
.mb_20 { margin-bottom: 20px; }
.ml_20 { margin-left: 20px; }

.mt_25 { margin-top: 25px; }
.mr_25 { margin-right: 25px; }
.mb_25 { margin-bottom: 25px; }
.ml_25 { margin-left: 25px; }

.mt_30 { margin-top: 30px; }
.mr_30 { margin-right: 30px; }
.mb_30 { margin-bottom: 30px; }
.ml_30 { margin-left: 30px; }

.mt_50 { margin-top: 50px; }
.mr_50 { margin-right: 50px; }
.mb_50 { margin-bottom: 50px; }
.ml_50 { margin-left: 50px; }

.mt_xs { margin-top: var(--rem-xsmall); }
.mr_xs { margin-right: var(--rem-xsmall); }
.mb_xs { margin-bottom: var(--rem-xsmall); }
.ml_xs { margin-left: var(--rem-xsmall); }

.mt_sm { margin-top: var(--rem-small); }
.mr_sm { margin-right: var(--rem-small); }
.mb_sm { margin-bottom: var(--rem-small); }
.ml_sm { margin-left: var(--rem-small); }

.mt_df { margin-top: var(--rem-default); }
.mr_df { margin-right: var(--rem-default); }
.mb_df { margin-bottom: var(--rem-default); }
.ml_df { margin-left: var(--rem-default); }

.mt_md { margin-top: var(--rem-medium); }
.mr_md { margin-right: var(--rem-medium); }
.mb_md { margin-bottom: var(--rem-medium); }
.ml_md { margin-left: var(--rem-medium); }

.mt_lg { margin-top: var(--rem-large); }
.mr_lg { margin-right: var(--rem-large); }
.mb_lg { margin-bottom: var(--rem-large); }
.ml_lg { margin-left: var(--rem-large); }

.mt_xl { margin-top: var(--rem-xlarge); }
.mr_xl { margin-right: var(--rem-xlarge); }
.mb_xl { margin-bottom: var(--rem-xlarge); }
.ml_xl { margin-left: var(--rem-xlarge); }

/* Negative margins */

.-mt_1 { margin-top: -1px; }
.-mr_1 { margin-right: -1px; }
.-mb_1 { margin-bottom: -1px; }
.-ml_1 { margin-left: -1px; }

.-mt_2 { margin-top: -2px; }
.-mr_2 { margin-right: -2px; }
.-mb_2 { margin-bottom: -2px; }
.-ml_2 { margin-left: -2px; }

.-mt_3 { margin-top: -3px; }
.-mr_3 { margin-right: -3px; }
.-mb_3 { margin-bottom: -3px; }
.-ml_3 { margin-left: -3px; }

.-mt_4 { margin-top: -4px; }
.-mr_4 { margin-right: -4px; }
.-mb_4 { margin-bottom: -4px; }
.-ml_4 { margin-left: -4px; }

.-mt_5 { margin-top: -5px; }
.-mr_5 { margin-right: -5px; }
.-mb_5 { margin-bottom: -5px; }
.-ml_5 { margin-left: -5px; }

.-mt_6 { margin-top: -6px; }
.-mr_6 { margin-right: -6px; }
.-mb_6 { margin-bottom: -6px; }
.-ml_6 { margin-left: -6px; }

.-mt_7 { margin-top: -7px; }
.-mr_7 { margin-right: -7px; }
.-mb_7 { margin-bottom: -7px; }
.-ml_7 { margin-left: -7px; }

.-mt_8 { margin-top: -8px; }
.-mr_8 { margin-right: -8px; }
.-mb_8 { margin-bottom: -8px; }
.-ml_8 { margin-left: -8px; }

.-mt_9 { margin-top: -9px; }
.-mr_9 { margin-right: -9px; }
.-mb_9 { margin-bottom: -9px; }
.-ml_9 { margin-left: -9px; }

.-mt_10 { margin-top: -10px; }
.-mr_10 { margin-right: -10px; }
.-mb_10 { margin-bottom: -10px; }
.-ml_10 { margin-left: -10px; }

.-mt_15 { margin-top: -15px; }
.-mr_15 { margin-right: -15px; }
.-mb_15 { margin-bottom: -15px; }
.-ml_15 { margin-left: -15px; }

.-mt_20 { margin-top: -20px; }
.-mr_20 { margin-right: -20px; }
.-mb_20 { margin-bottom: -20px; }
.-ml_20 { margin-left: -20px; }

.-mx_1 { margin-left: -1px; margin-right: -1px; }
.-my_1 { margin-top: -1px; margin-bottom: -1px; }

.-mx_2 { margin-left: -2px; margin-right: -2px; }
.-my_2 { margin-top: -2px; margin-bottom: -2px; }

.-mx_3 { margin-left: -3px; margin-right: -3px; }
.-my_3 { margin-top: -3px; margin-bottom: -3px; }

.-mx_4 { margin-left: -4px; margin-right: -4px; }
.-my_4 { margin-top: -4px; margin-bottom: -4px; }

.-mx_5 { margin-left: -5px; margin-right: -5px; }
.-my_5 { margin-top: -5px; margin-bottom: -5px; }

.-mx_10 { margin-left: -10px; margin-right: -10px; }
.-my_10 { margin-top: -10px; margin-bottom: -10px; }

.-mx_15 { margin-left: -15px; margin-right: -15px; }
.-my_15 { margin-top: -15px; margin-bottom: -15px; }

.-mx_20 { margin-left: -20px; margin-right: -20px; }
.-my_20 { margin-top: -20px; margin-bottom: -20px; }

.-mt_xs { margin-top: calc(var(--rem-xsmall) * -1); }
.-mt_sm { margin-top: calc(var(--rem-small) * -1); }
.-mt_df { margin-top: calc(var(--rem-default) * -1); }
.-mt_md { margin-top: calc(var(--rem-medium) * -1); }
.-mt_lg { margin-top: calc(var(--rem-large) * -1); }
.-mt_xl { margin-top: calc(var(--rem-xlarge) * -1); }

.-mr_xs { margin-right: calc(var(--rem-xsmall) * -1); }
.-mr_sm { margin-right: calc(var(--rem-small) * -1); }
.-mr_df { margin-right: calc(var(--rem-default) * -1); }
.-mr_md { margin-right: calc(var(--rem-medium) * -1); }
.-mr_lg { margin-right: calc(var(--rem-large) * -1); }
.-mr_xl { margin-right: calc(var(--rem-xlarge) * -1); }

.-mb_xs { margin-bottom: calc(var(--rem-xsmall) * -1); }
.-mb_sm { margin-bottom: calc(var(--rem-small) * -1); }
.-mb_df { margin-bottom: calc(var(--rem-default) * -1); }
.-mb_md { margin-bottom: calc(var(--rem-medium) * -1); }
.-mb_lg { margin-bottom: calc(var(--rem-large) * -1); }
.-mb_xl { margin-bottom: calc(var(--rem-xlarge) * -1); }

.-ml_xs { margin-left: calc(var(--rem-xsmall) * -1); }
.-ml_sm { margin-left: calc(var(--rem-small) * -1); }
.-ml_df { margin-left: calc(var(--rem-default) * -1); }
.-ml_md { margin-left: calc(var(--rem-medium) * -1); }
.-ml_lg { margin-left: calc(var(--rem-large) * -1); }
.-ml_xl { margin-left: calc(var(--rem-xlarge) * -1); }

.-mx_xs { margin-left: calc(var(--rem-xsmall) * -1); margin-right: calc(var(--rem-xsmall) * -1); }
.-mx_sm { margin-left: calc(var(--rem-small) * -1); margin-right: calc(var(--rem-small) * -1); }
.-mx_df { margin-left: calc(var(--rem-default) * -1); margin-right: calc(var(--rem-default) * -1); }
.-mx_md { margin-left: calc(var(--rem-medium) * -1); margin-right: calc(var(--rem-medium) * -1); }
.-mx_lg { margin-left: calc(var(--rem-large) * -1); margin-right: calc(var(--rem-large) * -1); }
.-mx_xl { margin-left: calc(var(--rem-xlarge) * -1); margin-right: calc(var(--rem-xlarge) * -1); }

.-my_xs { margin-top: calc(var(--rem-xsmall) * -1); margin-bottom: calc(var(--rem-xsmall) * -1); }
.-my_sm { margin-top: calc(var(--rem-small) * -1); margin-bottom: calc(var(--rem-small) * -1); }
.-my_df { margin-top: calc(var(--rem-default) * -1); margin-bottom: calc(var(--rem-default) * -1); }
.-my_md { margin-top: calc(var(--rem-medium) * -1); margin-bottom: calc(var(--rem-medium) * -1); }
.-my_lg { margin-top: calc(var(--rem-large) * -1); margin-bottom: calc(var(--rem-large) * -1); }
.-my_xl { margin-top: calc(var(--rem-xlarge) * -1); margin-bottom: calc(var(--rem-xlarge) * -1); }

/* Dimensions */

.h_toolbar { height: var(--toolbar-ht); }
.h_f { height: 100%; }
.h_10_pc { height: 10%; }
.h_15_pc { height: 15%; }
.h_20_pc { height: 20%; }
.h_25_pc { height: 25%; }
.h_30_pc { height: 30%; }
.h_33_pc { height: 33.33%; }
.h_40_pc { height: 40%; }
.h_50_pc { height: 50%; }
.h_60_pc { height: 60%; }
.h_66_pc { height: 66.66%; }
.h_70_pc { height: 70%; }
.h_75_pc { height: 75%; }
.h_80_pc { height: 80%; }
.h_85_pc { height: 85%; }
.h_90_pc { height: 90%; }
.h_95_pc { height: 95%; }
.h_100_pc { height: 100%; }

.h_10vh { height: 10vh; }
.h_15vh { height: 15vh; }
.h_20vh { height: 20vh; }
.h_25vh { height: 25vh; }
.h_30vh { height: 30vh; }
.h_35vh { height: 35vh; }
.h_40vh { height: 40vh; }
.h_45vh { height: 45vh; }
.h_50vh { height: 50vh; }
.h_55vh { height: 55vh; }
.h_60vh { height: 60vh; }
.h_65vh { height: 65vh; }
.h_70vh { height: 70vh; }
.h_75vh { height: 75vh; }
.h_80vh { height: 80vh; }
.h_85vh { height: 85vh; }
.h_90vh { height: 90vh; }
.h_95vh { height: 95vh; }
.h_100vh { height: 100vh; }

.w_10vw { width: 10vw; }
.w_15vw { width: 15vw; }
.w_20vw { width: 20vw; }
.w_25vw { width: 25vw; }
.w_30vw { width: 30vw; }
.w_35vw { width: 35vw; }
.w_40vw { width: 40vw; }
.w_45vw { width: 45vw; }
.w_50vw { width: 50vw; }
.w_55vw { width: 55vw; }
.w_60vw { width: 60vw; }
.w_65vw { width: 65vw; }
.w_70vw { width: 70vw; }
.w_75vw { width: 75vw; }
.w_80vw { width: 80vw; }
.w_85vw { width: 85vw; }
.w_90vw { width: 90vw; }
.w_95vw { width: 95vw; }
.w_100vw { width: 100vw; }

.min_h_10vh { min-height: 10vh; }
.min_h_15vh { min-height: 15vh; }
.min_h_20vh { min-height: 20vh; }
.min_h_25vh { min-height: 25vh; }
.min_h_30vh { min-height: 30vh; }
.min_h_35vh { min-height: 35vh; }
.min_h_40vh { min-height: 40vh; }
.min_h_45vh { min-height: 45vh; }
.min_h_50vh { min-height: 50vh; }
.min_h_55vh { min-height: 55vh; }
.min_h_60vh { min-height: 60vh; }
.min_h_65vh { min-height: 65vh; }
.min_h_70vh { min-height: 70vh; }
.min_h_75vh { min-height: 75vh; }
.min_h_80vh { min-height: 80vh; }
.min_h_85vh { min-height: 85vh; }
.min_h_90vh { min-height: 90vh; }
.min_h_95vh { min-height: 95vh; }
.min_h_100vh { min-height: 100vh; }

.min_w_10vw { min-width: 10vw; }
.min_w_15vw { min-width: 15vw; }
.min_w_20vw { min-width: 20vw; }
.min_w_25vw { min-width: 25vw; }
.min_w_30vw { min-width: 30vw; }
.min_w_35vw { min-width: 35vw; }
.min_w_40vw { min-width: 40vw; }
.min_w_45vw { min-width: 45vw; }
.min_w_50vw { min-width: 50vw; }
.min_w_55vw { min-width: 55vw; }
.min_w_60vw { min-width: 60vw; }
.min_w_65vw { min-width: 65vw; }
.min_w_70vw { min-width: 70vw; }
.min_w_75vw { min-width: 75vw; }
.min_w_80vw { min-width: 80vw; }
.min_w_85vw { min-width: 85vw; }
.min_w_90vw { min-width: 90vw; }
.min_w_95vw { min-width: 95vw; }
.min_w_100vw { min-width: 100vw; }

.max_h_10vh { max-height: 10vh; }
.max_h_15vh { max-height: 15vh; }
.max_h_20vh { max-height: 20vh; }
.max_h_25vh { max-height: 25vh; }
.max_h_30vh { max-height: 30vh; }
.max_h_35vh { max-height: 35vh; }
.max_h_40vh { max-height: 40vh; }
.max_h_45vh { max-height: 45vh; }
.max_h_50vh { max-height: 50vh; }
.max_h_55vh { max-height: 55vh; }
.max_h_60vh { max-height: 60vh; }
.max_h_65vh { max-height: 65vh; }
.max_h_70vh { max-height: 70vh; }
.max_h_75vh { max-height: 75vh; }
.max_h_80vh { max-height: 80vh; }
.max_h_85vh { max-height: 85vh; }
.max_h_90vh { max-height: 90vh; }
.max_h_95vh { max-height: 95vh; }
.max_h_100vh { max-height: 100vh; }

.max_w_10vw { max-width: 10vw; }
.max_w_15vw { max-width: 15vw; }
.max_w_20vw { max-width: 20vw; }
.max_w_25vw { max-width: 25vw; }
.max_w_30vw { max-width: 30vw; }
.max_w_35vw { max-width: 35vw; }
.max_w_40vw { max-width: 40vw; }
.max_w_45vw { max-width: 45vw; }
.max_w_50vw { max-width: 50vw; }
.max_w_55vw { max-width: 55vw; }
.max_w_60vw { max-width: 60vw; }
.max_w_65vw { max-width: 65vw; }
.max_w_70vw { max-width: 70vw; }
.max_w_75vw { max-width: 75vw; }
.max_w_80vw { max-width: 80vw; }
.max_w_85vw { max-width: 85vw; }
.max_w_90vw { max-width: 90vw; }
.max_w_95vw { max-width: 95vw; }
.max_w_100vw { max-width: 100vw; }

.h_1 { height: 1px; }
.h_2 { height: 2px; }
.h_3 { height: 3px; }
.h_4 { height: 4px; }
.h_5 { height: 5px; }
.h_6 { height: 6px; }
.h_7 { height: 7px; }
.h_8 { height: 8px; }
.h_9 { height: 9px; }
.h_10 { height: 10px; }
.h_15 { height: 15px; }
.h_20 { height: 20px; }
.h_25 { height: 25px; }
.h_30 { height: 30px; }
.h_35 { height: 35px; }
.h_40 { height: 40px; }
.h_45 { height: 45px; }
.h_50 { height: 50px; }
.h_55 { height: 55px; }
.h_60 { height: 60px; }
.h_65 { height: 65px; }
.h_70 { height: 70px; }
.h_75 { height: 75px; }
.h_80 { height: 80px; }
.h_85 { height: 85px; }
.h_90 { height: 90px; }
.h_95 { height: 95px; }
.h_100 { height: 100px; }
.h_125 { height: 125px; }
.h_150 { height: 150px; }
.h_175 { height: 175px; }
.h_200 { height: 200px; }
.h_225 { height: 225px; }
.h_250 { height: 250px; }
.h_275 { height: 275px; }
.h_300 { height: 300px; }
.h_325 { height: 325px; }
.h_350 { height: 350px; }
.h_375 { height: 375px; }
.h_400 { height: 400px; }
.h_425 { height: 425px; }
.h_450 { height: 450px; }
.h_475 { height: 475px; }
.h_500 { height: 500px; }
.h_550 { height: 550px; }
.h_600 { height: 600px; }
.h_650 { height: 650px; }
.h_700 { height: 700px; }
.h_750 { height: 750px; }
.h_800 { height: 800px; }
.h_850 { height: 850px; }
.h_900 { height: 900px; }
.h_950 { height: 950px; }
.h_1000 { height: 1000px; }

.w_sidebar { width: var(--sidebar-wt); }

.w_f { width: 100%; }
.w_10_pc { width: 10%; }
.w_15_pc { width: 15%; }
.w_20_pc { width: 20%; }
.w_25_pc { width: 25%; }
.w_30_pc { width: 30%; }
.w_33_pc { width: 33.33%; }
.w_40_pc { width: 40%; }
.w_50_pc { width: 50%; }
.w_60_pc { width: 60%; }
.w_66_pc { width: 66.66%; }
.w_70_pc { width: 70%; }
.w_75_pc { width: 75%; }
.w_80_pc { width: 80%; }
.w_85_pc { width: 85%; }
.w_90_pc { width: 90%; }
.w_95_pc { width: 95%; }
.w_100_pc { width: 100%; }

.w_1 { width: 1px; }
.w_2 { width: 2px; }
.w_3 { width: 3px; }
.w_4 { width: 4px; }
.w_5 { width: 5px; }
.w_6 { width: 6px; }
.w_7 { width: 7px; }
.w_8 { width: 8px; }
.w_9 { width: 9px; }
.w_10 { width: 10px; }
.w_15 { width: 15px; }
.w_20 { width: 20px; }
.w_25 { width: 25px; }
.w_30 { width: 30px; }
.w_35 { width: 35px; }
.w_40 { width: 40px; }
.w_45 { width: 45px; }
.w_50 { width: 50px; }
.w_55 { width: 55px; }
.w_60 { width: 60px; }
.w_65 { width: 65px; }
.w_70 { width: 70px; }
.w_75 { width: 75px; }
.w_80 { width: 80px; }
.w_85 { width: 85px; }
.w_90 { width: 90px; }
.w_95 { width: 95px; }
.w_100 { width: 100px; }
.w_125 { width: 125px; }
.w_150 { width: 150px; }
.w_175 { width: 175px; }
.w_200 { width: 200px; }
.w_225 { width: 225px; }
.w_250 { width: 250px; }
.w_275 { width: 275px; }
.w_300 { width: 300px; }
.w_325 { width: 325px; }
.w_350 { width: 350px; }
.w_375 { width: 375px; }
.w_400 { width: 400px; }
.w_425 { width: 425px; }
.w_450 { width: 450px; }
.w_475 { width: 475px; }
.w_500 { width: 500px; }
.w_550 { width: 550px; }
.w_600 { width: 600px; }
.w_650 { width: 650px; }
.w_700 { width: 700px; }
.w_750 { width: 750px; }
.w_800 { width: 800px; }
.w_850 { width: 850px; }
.w_900 { width: 900px; }
.w_950 { width: 950px; }
.w_1000 { width: 1000px; }

.min_h_f { min-height: 100%; }
.min_h_10 { min-height: 10px; }
.min_h_15 { min-height: 15px; }
.min_h_20 { min-height: 20px; }
.min_h_25 { min-height: 25px; }
.min_h_30 { min-height: 30px; }
.min_h_35 { min-height: 35px; }
.min_h_40 { min-height: 40px; }
.min_h_45 { min-height: 45px; }
.min_h_50 { min-height: 50px; }
.min_h_55 { min-height: 55px; }
.min_h_60 { min-height: 60px; }
.min_h_65 { min-height: 65px; }
.min_h_70 { min-height: 70px; }
.min_h_75 { min-height: 75px; }
.min_h_80 { min-height: 80px; }
.min_h_85 { min-height: 85px; }
.min_h_90 { min-height: 90px; }
.min_h_95 { min-height: 95px; }
.min_h_100 { min-height: 100px; }
.min_h_125 { min-height: 125px; }
.min_h_150 { min-height: 150px; }
.min_h_175 { min-height: 175px; }
.min_h_200 { min-height: 200px; }
.min_h_225 { min-height: 225px; }
.min_h_250 { min-height: 250px; }
.min_h_275 { min-height: 275px; }
.min_h_300 { min-height: 300px; }
.min_h_325 { min-height: 325px; }
.min_h_350 { min-height: 350px; }
.min_h_375 { min-height: 375px; }
.min_h_400 { min-height: 400px; }
.min_h_425 { min-height: 425px; }
.min_h_450 { min-height: 450px; }
.min_h_475 { min-height: 475px; }
.min_h_500 { min-height: 500px; }
.min_h_550 { min-height: 550px; }
.min_h_600 { min-height: 600px; }
.min_h_650 { min-height: 650px; }
.min_h_700 { min-height: 700px; }
.min_h_750 { min-height: 750px; }
.min_h_800 { min-height: 800px; }
.min_h_850 { min-height: 850px; }
.min_h_900 { min-height: 900px; }
.min_h_950 { min-height: 950px; }
.min_h_1000 { min-height: 1000px; }

.max_h_f { max-height: 100%; }
.max_h_10 { max-height: 10px; }
.max_h_15 { max-height: 15px; }
.max_h_20 { max-height: 20px; }
.max_h_25 { max-height: 25px; }
.max_h_30 { max-height: 30px; }
.max_h_35 { max-height: 35px; }
.max_h_40 { max-height: 40px; }
.max_h_45 { max-height: 45px; }
.max_h_50 { max-height: 50px; }
.max_h_55 { max-height: 55px; }
.max_h_60 { max-height: 60px; }
.max_h_65 { max-height: 65px; }
.max_h_70 { max-height: 70px; }
.max_h_75 { max-height: 75px; }
.max_h_80 { max-height: 80px; }
.max_h_85 { max-height: 85px; }
.max_h_90 { max-height: 90px; }
.max_h_95 { max-height: 95px; }
.max_h_100 { max-height: 100px; }
.max_h_125 { max-height: 125px; }
.max_h_150 { max-height: 150px; }
.max_h_175 { max-height: 175px; }
.max_h_200 { max-height: 200px; }
.max_h_225 { max-height: 225px; }
.max_h_250 { max-height: 250px; }
.max_h_275 { max-height: 275px; }
.max_h_300 { max-height: 300px; }
.max_h_325 { max-height: 325px; }
.max_h_350 { max-height: 350px; }
.max_h_375 { max-height: 375px; }
.max_h_400 { max-height: 400px; }
.max_h_425 { max-height: 425px; }
.max_h_450 { max-height: 450px; }
.max_h_475 { max-height: 475px; }
.max_h_500 { max-height: 500px; }
.max_h_550 { max-height: 550px; }
.max_h_600 { max-height: 600px; }
.max_h_650 { max-height: 650px; }
.max_h_700 { max-height: 700px; }
.max_h_750 { max-height: 750px; }
.max_h_800 { max-height: 800px; }
.max_h_850 { max-height: 850px; }
.max_h_900 { max-height: 900px; }
.max_h_950 { max-height: 950px; }
.max_h_1000 { max-height: 1000px; }

.min_w_f { min-width: 100%; }
.min_w_10 { min-width: 10px; }
.min_w_20 { min-width: 20px; }
.min_w_30 { min-width: 30px; }
.min_w_40 { min-width: 40px; }
.min_w_50 { min-width: 50px; }
.min_w_60 { min-width: 60px; }
.min_w_70 { min-width: 70px; }
.min_w_80 { min-width: 80px; }
.min_w_90 { min-width: 90px; }
.min_w_100 { min-width: 100px; }
.min_w_125 { min-width: 125px; }
.min_w_150 { min-width: 150px; }
.min_w_175 { min-width: 175px; }
.min_w_200 { min-width: 200px; }
.min_w_225 { min-width: 225px; }
.min_w_250 { min-width: 250px; }
.min_w_275 { min-width: 275px; }
.min_w_300 { min-width: 300px; }
.min_w_325 { min-width: 325px; }
.min_w_350 { min-width: 350px; }
.min_w_375 { min-width: 375px; }
.min_w_400 { min-width: 400px; }
.min_w_425 { min-width: 425px; }
.min_w_450 { min-width: 450px; }
.min_w_475 { min-width: 475px; }
.min_w_500 { min-width: 500px; }
.min_w_550 { min-width: 550px; }
.min_w_600 { min-width: 600px; }
.min_w_650 { min-width: 650px; }
.min_w_700 { min-width: 700px; }
.min_w_750 { min-width: 750px; }
.min_w_800 { min-width: 800px; }
.min_w_850 { min-width: 850px; }
.min_w_900 { min-width: 900px; }
.min_w_950 { min-width: 950px; }
.min_w_1000 { min-width: 1000px; }

.max_w_f { max-width: 100%; }
.max_w_10 { max-width: 10px; }
.max_w_15 { max-width: 15px; }
.max_w_20 { max-width: 20px; }
.max_w_25 { max-width: 25px; }
.max_w_30 { max-width: 30px; }
.max_w_35 { max-width: 35px; }
.max_w_40 { max-width: 40px; }
.max_w_45 { max-width: 45px; }
.max_w_50 { max-width: 50px; }
.max_w_55 { max-width: 55px; }
.max_w_60 { max-width: 60px; }
.max_w_65 { max-width: 65px; }
.max_w_70 { max-width: 70px; }
.max_w_75 { max-width: 75px; }
.max_w_80 { max-width: 80px; }
.max_w_85 { max-width: 85px; }
.max_w_90 { max-width: 90px; }
.max_w_95 { max-width: 95px; }
.max_w_100 { max-width: 100px; }
.max_w_125 { max-width: 125px; }
.max_w_150 { max-width: 150px; }
.max_w_175 { max-width: 175px; }
.max_w_200 { max-width: 200px; }
.max_w_225 { max-width: 225px; }
.max_w_250 { max-width: 250px; }
.max_w_275 { max-width: 275px; }
.max_w_300 { max-width: 300px; }
.max_w_325 { max-width: 325px; }
.max_w_350 { max-width: 350px; }
.max_w_375 { max-width: 375px; }
.max_w_400 { max-width: 400px; }
.max_w_425 { max-width: 425px; }
.max_w_450 { max-width: 450px; }
.max_w_475 { max-width: 475px; }
.max_w_500 { max-width: 500px; }
.max_w_550 { max-width: 550px; }
.max_w_600 { max-width: 600px; }
.max_w_650 { max-width: 650px; }
.max_w_700 { max-width: 700px; }
.max_w_750 { max-width: 750px; }
.max_w_800 { max-width: 800px; }
.max_w_850 { max-width: 850px; }
.max_w_900 { max-width: 900px; }
.max_w_950 { max-width: 950px; }
.max_w_1000 { max-width: 1000px; }

/* Special sizing for mobile */

.max_h_mobile_safe { max-height: 87.5vh; }

@media (max-height: 1140px) {
  /* Designed for modal wrapper layout content while accounting for mobile header area */
  .max_h_mobile_safe { max-height: 85vh; }
}

@media (max-height: 1024px) {
  /* Designed for modal wrapper layout content while accounting for mobile header area */
  .max_h_mobile_safe { max-height: 82.5vh; }
}

@media (max-height: 768px) {
  /* Designed for modal wrapper layout content while accounting for mobile header area */
  .max_h_mobile_safe { max-height: 80vh; }
}

@media (max-height: 640px) {
  /* Designed for modal wrapper layout content while accounting for mobile header area */
  .max_h_mobile_safe { max-height: 75vh; }
}

/* Radius */

.r, .r .img_auto { border-radius: 100vmax; }
.rl { border-top-left-radius: 100vmax; border-bottom-left-radius: 100vmax; }
.rr { border-top-right-radius: 100vmax; border-bottom-right-radius: 100vmax; }

.r_xs { border-radius: var(--radius-xsmall); }
.rtl_xs { border-top-left-radius: var(--radius-xsmall); }
.rbl_xs { border-bottom-left-radius: var(--radius-xsmall); }
.rtr_xs { border-top-right-radius: var(--radius-xsmall); }
.rbr_xs { border-bottom-right-radius: var(--radius-xsmall); }
.rt_xs { border-top-left-radius: var(--radius-xsmall); border-top-right-radius: var(--radius-xsmall); }
.rb_xs { border-bottom-left-radius: var(--radius-xsmall); border-bottom-right-radius: var(--radius-xsmall); }
.rl_xs { border-top-left-radius: var(--radius-xsmall); border-bottom-left-radius: var(--radius-xsmall); }
.rr_xs { border-top-right-radius: var(--radius-xsmall); border-bottom-right-radius: var(--radius-xsmall); }

.r_sm { border-radius: var(--radius-small); }
.rtl_sm { border-top-left-radius: var(--radius-small); }
.rbl_sm { border-bottom-left-radius: var(--radius-small); }
.rtr_sm { border-top-right-radius: var(--radius-small); }
.rbr_sm { border-bottom-right-radius: var(--radius-small); }
.rt_sm { border-top-left-radius: var(--radius-small); border-top-right-radius: var(--radius-small); }
.rb_sm { border-bottom-left-radius: var(--radius-small); border-bottom-right-radius: var(--radius-small); }
.rl_sm { border-top-left-radius: var(--radius-small); border-bottom-left-radius: var(--radius-small); }
.rr_sm { border-top-right-radius: var(--radius-small); border-bottom-right-radius: var(--radius-small); }

.r_smw { border-radius: var(--radius-small-wrap); }
.rtl_smw { border-top-left-radius: var(--radius-small-wrap); }
.rbl_smw { border-bottom-left-radius: var(--radius-small-wrap); }
.rtr_smw { border-top-right-radius: var(--radius-small-wrap); }
.rbr_smw { border-bottom-right-radius: var(--radius-small-wrap); }
.rt_smw { border-top-left-radius: var(--radius-small-wrap); border-top-right-radius: var(--radius-small-wrap); }
.rb_smw { border-bottom-left-radius: var(--radius-small-wrap); border-bottom-right-radius: var(--radius-small-wrap); }
.rl_smw { border-top-left-radius: var(--radius-small-wrap); border-bottom-left-radius: var(--radius-small-wrap); }
.rr_smw { border-top-right-radius: var(--radius-small-wrap); border-bottom-right-radius: var(--radius-small-wrap); }

.r_df { border-radius: var(--radius-default); }
.rtl_df { border-top-left-radius: var(--radius-default); }
.rbl_df { border-bottom-left-radius: var(--radius-default); }
.rtr_df { border-top-right-radius: var(--radius-default); }
.rbr_df { border-bottom-right-radius: var(--radius-default); }
.rt_df { border-top-left-radius: var(--radius-default); border-top-right-radius: var(--radius-default); }
.rb_df { border-bottom-left-radius: var(--radius-default); border-bottom-right-radius: var(--radius-default); }
.rl_df { border-top-left-radius: var(--radius-default); border-bottom-left-radius: var(--radius-default); }
.rr_df { border-top-right-radius: var(--radius-default); border-bottom-right-radius: var(--radius-default); }

.r_dfw { border-radius: var(--radius-default-wrap); }
.rtl_dfw { border-top-left-radius: var(--radius-default-wrap); }
.rbl_dfw { border-bottom-left-radius: var(--radius-default-wrap); }
.rtr_dfw { border-top-right-radius: var(--radius-default-wrap); }
.rbr_dfw { border-bottom-right-radius: var(--radius-default-wrap); }
.rt_dfw { border-top-left-radius: var(--radius-default-wrap); border-top-right-radius: var(--radius-default-wrap); }
.rb_dfw { border-bottom-left-radius: var(--radius-default-wrap); border-bottom-right-radius: var(--radius-default-wrap); }
.rl_dfw { border-top-left-radius: var(--radius-default-wrap); border-bottom-left-radius: var(--radius-default-wrap); }
.rr_dfw { border-top-right-radius: var(--radius-default-wrap); border-bottom-right-radius: var(--radius-default-wrap); }

.r_md { border-radius: var(--radius-medium); }
.rtl_md { border-top-left-radius: var(--radius-medium); }
.rbl_md { border-bottom-left-radius: var(--radius-medium); }
.rtr_md { border-top-right-radius: var(--radius-medium); }
.rbr_md { border-bottom-right-radius: var(--radius-medium); }
.rt_md { border-top-left-radius: var(--radius-medium); border-top-right-radius: var(--radius-medium); }
.rb_md { border-bottom-left-radius: var(--radius-medium); border-bottom-right-radius: var(--radius-medium); }
.rl_md { border-top-left-radius: var(--radius-medium); border-bottom-left-radius: var(--radius-medium); }
.rr_md { border-top-right-radius: var(--radius-medium); border-bottom-right-radius: var(--radius-medium); }

.r_lg { border-radius: var(--radius-large); }
.rtl_lg { border-top-left-radius: var(--radius-large); }
.rbl_lg { border-bottom-left-radius: var(--radius-large); }
.rtr_lg { border-top-right-radius: var(--radius-large); }
.rbr_lg { border-bottom-right-radius: var(--radius-large); }
.rt_lg { border-top-left-radius: var(--radius-large); border-top-right-radius: var(--radius-large); }
.rb_lg { border-bottom-left-radius: var(--radius-large); border-bottom-right-radius: var(--radius-large);}
.rl_lg { border-top-left-radius: var(--radius-large); border-bottom-left-radius: var(--radius-large);}
.rr_lg { border-top-right-radius: var(--radius-large); border-bottom-right-radius: var(--radius-large);}

/* Avatar */

.av_xxxs, .av_xxs, .av_xs, .av_sm, .av_df, .av_md, .av_lg, .av_xl,
.av_w_xs, .av_w_sm, .av_w_df, .av_w_md, .av_w_lg, .av_w_xl {
  flex-shrink: 0;
}

.av_xxxs { width: 1.25rem; height: 1.25rem; }
.av_xxs { width: 1.5rem; height: 1.5rem; }
.av_xs, svg.av_xs foreignObject { width: var(--av-xsmall); height: var(--av-xsmall); }
.av_sm, svg.av_sm foreignObject { width: var(--av-small); height: var(--av-small); }
.av_df, svg.av_df foreignObject { width: var(--av-default); height: var(--av-default); }
.av_md, svg.av_md foreignObject { width: var(--av-medium); height: var(--av-medium); }
.av_lg, svg.av_lg foreignObject { width: var(--av-large); height: var(--av-large); }
.av_xl, svg.av_xl foreignObject { width: var(--av-xlarge); height: var(--av-xlarge); }

.av_w_xs { width: var(--av-xsmall); }
.av_w_sm { width: var(--av-small); }
.av_w_df { width: var(--av-default); }
.av_w_md { width: var(--av-medium); }
.av_w_lg { width: var(--av-large); }
.av_w_xl { width: var(--av-xlarge); }

.av_h_xs { height: var(--av-xsmall); }
.av_h_sm { height: var(--av-small); }
.av_h_df { height: var(--av-default); }
.av_h_md { height: var(--av-medium); }
.av_h_lg { height: var(--av-large); }
.av_h_xl { height: var(--av-xlarge); }

.av img {
  background-color: rgb(var(--color-bg-active));
}

/* viewBox cannot be controlled by CSS; but it doesn't seem necessary, so it's okay */
/* svg.av_sm {
  viewBox: 0 0 var(--av-small) var(--av-small);
} */

svg.av_xs .s_dot {
  width: 0.6872727344rem; height: 0.6872727344rem;
  x: 1.07636079995rem; y: 1.07636079995rem;
}

svg.av_sm .s_dot {
  width: 0.75757576rem; height: 0.75757576rem;
  x: 1.546875rem; y: 1.546875rem;
}

/* 1.71875rem - 1.51515152rem = 0.20359848rem */
/* svg.av_df {
  viewBox: 0 0 var(--av-default) var(--av-default);
} */

svg.av_df .s_dot {
  width: 0.90909091rem; height: 0.90909091rem; /* size / 3.3 */
  x: 2.06rem; y: 2.06rem; /* size / 1.45454545 */
}

/* svg.av_md {
  viewBox: 0 0 var(--av-medium) var(--av-medium);
} */

svg.av_md .s_dot {
  width: 1.21212121rem; height: 1.21212121rem;
  x: 3.78125rem; y: 3.78125rem;
}

/* svg.av_lg {
  viewBox: 0 0 var(--av-large) var(--av-large);
} */

svg.av_lg .s_dot {
  width: 1.78977272rem; height: 1.78977272rem;
  x: 6rem; y: 6rem;
}

svg.av_xl .s_dot {
  width: 2.05823863rem; height: 2.05823863rem;
  x: 8.5rem; y: 8.5rem;
}

.av {
  flex-shrink: 0;
  box-sizing: border-box;
}

.av_btn .click_hover {
  background-color: var(--color-contrast-opaque);
}

.av_btn .click_hover.w_text {
  padding-bottom: 5%;
}

.av_btn:not(.disabled):hover .click_hover {
  visibility: visible !important;
}

.av_btn:not(.disabled):hover .av.main {
  opacity: .2;
}

.av_btn .pill {
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 40px;
  transform: translate(-50%, 25%);
  box-shadow: 0 0 8px rgba(0,0,0,.25);
}

.av_btn_text_shift {
  padding-bottom: 10%;
}

/* Typing dots */

.s_typing_dots {
  position: absolute;
  bottom: -3px;
  right: 7px;
}

.s_typing_dots.dots_df {
  width: 30px;
  height: 16px;
  border-radius: 8px;
}

/* Pills */

.pill {
  position: relative;
  display: block;
  white-space: nowrap;
  user-select: none;
}

.pill.loading {
  color: transparent !important;
}

.pill.loading .shortcut {
  visibility: hidden;
}

.pill_xs {
  /* min-width: 1.85rem;
  height: 1.85rem;
  padding-left: .475em;
  padding-right: .475em; */
  min-width: 1.9rem;
  height: 1.9rem;
  padding-left: .55em;
  padding-right: .55em;
  /* min-width: 2rem;
  height: 2rem;
  padding-left: .55em;
  padding-right: .55em; */
}

.pill_sm {
  min-width: var(--av-small);
  height: var(--av-small);
  padding-left: .7em;
  padding-right: .7em;
}

.pill_df {
  min-width: var(--av-default);
  height: var(--av-default);
  padding-left: .9em;
  padding-right: .9em;
}

.pill_md {
  min-width: 4rem;
  height: 4rem;
  padding-left: 1.15em;
  padding-right: 1.15em;
  font-size: var(--text-medium);
}

.pill_lg {
  position: relative;
  min-width: 5rem;
  height: 5rem;
  padding-left: 1.15em;
  padding-right: 1.15em;
  padding-bottom: 2px;
  font-size: var(--text-large);
}

/* .pill_lg:before {
  content: ' ';
  position: absolute; z-index: -1;
  inset: -5px;
  border-radius: 100vmax;
  background-color: rgba(var(--color-darker-rgb), .075);
} */

/* Grid */

.grid {
  display: grid;
  grid-template-rows: 1fr min-content;
  row-gap: 1rem;
  column-gap: 1rem;
}

.grid.gap_1 { row-gap: 1px; column-gap: 1px; }
.grid.gap_2 { row-gap: 2px; column-gap: 2px; }
.grid.gap_3 { row-gap: 3px; column-gap: 3px; }
.grid.gap_4 { row-gap: 4px; column-gap: 4px; }
.grid.gap_5 { row-gap: 5px; column-gap: 5px; }

.grid.gapx_1 { column-gap: 1px; }
.grid.gapx_2 { column-gap: 2px; }
.grid.gapx_3 { column-gap: 3px; }
.grid.gapx_4 { column-gap: 4px; }
.grid.gapx_5 { column-gap: 5px; }

.grid.gapy_1 { row-gap: 1px; }
.grid.gapy_2 { row-gap: 2px; }
.grid.gapy_3 { row-gap: 3px; }
.grid.gapy_4 { row-gap: 4px; }
.grid.gapy_5 { row-gap: 5px; }

.grid.gap_xs { row-gap: var(--rem-xsmall); column-gap: var(--rem-xsmall); }
.grid.gap_sm { row-gap: var(--rem-small); column-gap: var(--rem-small); }
.grid.gap_df { row-gap: var(--rem-default); column-gap: var(--rem-default); }
.grid.gap_md { row-gap: var(--rem-medium); column-gap: var(--rem-medium); }
.grid.gap_lg { row-gap: var(--rem-large); column-gap: var(--rem-large); }

.grid.gapx_xs { row-gap: 0; column-gap: var(--rem-xsmall); }
.grid.gapx_sm { row-gap: 0; column-gap: var(--rem-small); }
.grid.gapx_df { row-gap: 0; column-gap: var(--rem-default); }
.grid.gapx_md { row-gap: 0; column-gap: var(--rem-medium); }
.grid.gapx_lg { row-gap: 0; column-gap: var(--rem-large); }

.grid.gapy_xs { row-gap: var(--rem-xsmall); column-gap: 0; }
.grid.gapy_sm { row-gap: var(--rem-small); column-gap: 0; }
.grid.gapy_df { row-gap: var(--rem-default); column-gap: 0; }
.grid.gapy_md { row-gap: var(--rem-medium); column-gap: 0; }
.grid.gapy_lg { row-gap: var(--rem-large); column-gap: 0; }

.grid.gap_n { row-gap: 0; column-gap: 0; }
.grid.gapx_n { column-gap: 0; }
.grid.gapy_n { row-gap: 0; }

/* Grid; column spans */

.g_fill { grid-column: 1 / -1; }
.g_span_2 { grid-column: span 2; }
.g_span_3 { grid-column: span 3; }
.g_span_4 { grid-column: span 4; }
.g_span_5 { grid-column: span 5; }

/* Grid; columns per row */

.grid.size_2, .table.size_2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.size_3, .table.size_3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid.size_4, .table.size_4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid.size_5, .table.size_5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid.size_6, .table.size_6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid.size_7, .table.size_7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid.size_8, .table.size_8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid.size_9, .table.size_9 {
  grid-template-columns: repeat(9, 1fr);
}

/* Table */

.table {
  display: grid;
}

.trow {
  display: contents;
}

/*
Mobile responsive design
NOTE: Do not change any of these media query widths because these values are used in other places.
NOTE: var() doesn't work inside media queries, so we use fixed values.
*/

@media (max-width: 1024px) { /* Tablet landscape */
  .hide_tablet_landscape { display: none !important; }
  .responsive.p_lg { padding: var(--rem-medium); }
}

@media (max-width: 768px) { /* Tablet portrait */
  .hide_tablet_portrait { display: none !important; }
  .responsive.p_lg { padding: var(--rem-medium) var(--rem-default); }
  .responsive.grid.size_2 { grid-template-columns: repeat(1, 1fr); }
}

@media (max-width: 600px) { /* Mobile landscape */
  .hide_mobile_landscape { display: none !important; }
}

@media (max-width: 480px) { /* Mobile portrait */
  .hide_mobile_portrait { display: none !important; }
  .responsive.p_lg { padding: var(--rem-medium) var(--rem-small); }
}

@media (max-width: 360px) { /* Small device */
  .hide_small_landscape { display: none !important; }
  .responsive.p_lg { padding: var(--rem-default) var(--rem-xsmall); }
}