
/* Modal cover for alerts & screens */

.gr_modal {
  background: linear-gradient(360deg, rgba(var(--color-modal), 1) 0%, rgba(var(--color-modal), .5) 50%);
}

.modal_main_content {
  cursor: auto;
}

/* Alert black-to-transparent background */

.gr_modal_alert_w_screen {
  background-color: rgba(var(--color-darker-rgb), .064);
}

/* Different outlines + shadows for each modal type */

.alert_shadow_default {
  /* box-shadow: 0 0 20px rgb(var(--color-modal)), 0 4px 12px rgba(0,0,0,.04); */
  /* box-shadow: 0 0 40px 10px rgb(var(--color-modal)); */
  box-shadow: 0 0 0 3px rgba(0,0,0,.04), 0 20px 40px rgb(var(--color-modal)), 0 0 100px rgba(255,255,255, 1);
}

.full.alert_shadow_default {
  box-shadow: 0 0 0 3px rgba(0,0,0,.04), 0 20px 40px rgb(var(--color-modal));
}

.alert_shadow_error {
  box-shadow: 0 8px 15px rgba(0,0,0,.07), 0 0 0 4px rgba(var(--color-error), .5), 0 0 20px rgba(var(--color-error), .1);
}
