/* Pastel gradients (soft, low-contrast) */

.gr_red_1 { background: linear-gradient(45deg, #f399af 0%, #f1bbdd 100%); }
.gr_orange_1 { background: linear-gradient(45deg, #ffc762 0%, #ffdb9a 100%); }
.gr_brown_1 { background: linear-gradient(45deg, #ddaf8f 0%, #dfcdb8 100%); }
.gr_amber_1 { background: linear-gradient(45deg, #fbc77d 0%, #fbe2ae 100%); }
.gr_yellow_1 { background: linear-gradient(45deg, #ffdf6b 0%, #fff0ad 100%); }
.gr_lime_1 { background: linear-gradient(45deg, #cbe69a 0%, #d1f4d2 100%); }
.gr_green_1 { background: linear-gradient(45deg, #b7dcab 0%, #beeede 100%); }
.gr_emerald_1 { background: linear-gradient(45deg, #a9e4cf 0%, #b5f4ea 100%); }
.gr_teal_1 { background: linear-gradient(45deg, #a2e0d6 0%, #acefee 100%); }
.gr_cyan_1 { background: linear-gradient(45deg, #a8dcf0 0%, #b9f1fb 100%); }
.gr_sky_1, .gr_blue_1 { background: linear-gradient(45deg, #a6d2f1 0%, #b6ddfb 100%); }
/* blue & sky uses same gradient right now because it's too hard to differentiate the two as pastel & also make it look good */
/* .gr_blue_1 { background: linear-gradient(45deg, #adc8f1 0%, #bdd8fb 100%); } */
.gr_indigo_1 { background: linear-gradient(45deg, #c0c5f2 0%, #dbe0ff 100%); }
.gr_violet_1 { background: linear-gradient(45deg, #ccb7f2 0%, #dcd4fd 100%); }
.gr_purple_1 { background: linear-gradient(45deg, #d0b4f2 0%, #e0d4fd 100%); }
.gr_fuchsia_1 { background: linear-gradient(45deg, #f1abdb 0%, #f2c8f7 100%); }
.gr_pink_1 { background: linear-gradient(45deg, #f1aac8 0%, #f2cbe7 100%); }
.gr_rose_1 { background: linear-gradient(45deg, #f2a9b1 0%, #f3c8da 100%); }
.gr_slate_1 { background: linear-gradient(45deg, #cdd5df 0%, #d9e3f4 100%); }
.gr_zinc_1 { background: linear-gradient(45deg, #d0d0d7 0%, #dedff2 100%); }
.gr_stone_1 { background: linear-gradient(45deg, #d7cabf 0%, #e5e0d7 100%); }

/* Alternate versions with slightly more contrast in gradient brightness, and angle difference (top to bottom */

.gr_red_2 { background: linear-gradient(to bottom, #e6b7d4 0%, #efcae0 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_orange_2 { background: linear-gradient(to bottom, #efd29c 0%, #f5deb5 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_brown_2 { background: linear-gradient(to bottom, #d2c1ad 0%, #ddcfbe 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_amber_2 { background: linear-gradient(to bottom, #eed9ab 0%, #f4e4c1 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_yellow_2 { background: linear-gradient(to bottom, #f1e5aa 0%, #f5eec0 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_lime_2 { background: linear-gradient(to bottom, #c6e9c9 0%, #d6f0d8 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_green_2 { background: linear-gradient(to bottom, #b9e3d4 0%, #cbede0 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_emerald_2 { background: linear-gradient(to bottom, #b2e7df 0%, #c6f0ea 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_teal_2 { background: linear-gradient(to bottom, #abe3e2 0%, #c1edec 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_cyan_2 { background: linear-gradient(to bottom, #b4e7ef 0%, #c7f0f5 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_sky_2, .gr_blue_2 { background: linear-gradient(to bottom, #b1d4ef 0%, #c5e0f5 100%); background-size: 100% 100%; background-repeat: no-repeat; }
/* .gr_blue_2 { background: linear-gradient(to bottom, #b6d0f0 0%, #c9ddf5 100%); background-size: 100% 100%; background-repeat: no-repeat; } */
.gr_indigo_2 { background: linear-gradient(to bottom, #cbd3f7 0%, #d9dff5 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_violet_2 { background: linear-gradient(to bottom, #cfc8f4 0%, #dcd7f5 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_purple_2 { background: linear-gradient(to bottom, #d4c8f4 0%, #e0d7f5 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_fuchsia_2 { background: linear-gradient(to bottom, #e7c0ec 0%, #f0d1f2 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_pink_2 { background: linear-gradient(to bottom, #e7c4dd 0%, #f0d5e7 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_rose_2 { background: linear-gradient(to bottom, #e9bfd1 0%, #f0d0de 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_slate_2 { background: linear-gradient(to bottom, #cfd7e9 0%, #dce2f0 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_zinc_2 { background: linear-gradient(to bottom, #d2d3e7 0%, #dedff0 100%); background-size: 100% 100%; background-repeat: no-repeat; }
.gr_stone_2 { background: linear-gradient(to bottom, #dcd6cd 0%, #e6e2db 100%); background-size: 100% 100%; background-repeat: no-repeat; }

/* Modal colors mapped from .gr_*_2 second stop */

[data-theme="red_light"] { --color-modal: 243, 233, 239; /* #f3e9ef */ }
[data-theme="orange_light"] { --color-modal: 244, 237, 225; /* #f4ede1 */ }
[data-theme="brown_light"] { --color-modal: 234, 232, 228; /* #eae8e4 */ }
[data-theme="amber_light"] { --color-modal: 245, 240, 230; /* #f5f0e6 */ }
[data-theme="yellow_light"] { --color-modal: 246, 243, 229; /* #f6f3e5 */ }
[data-theme="lime_light"] { --color-modal: 237, 245, 238; /* #edf5ee */ }
[data-theme="green_light"] { --color-modal: 233, 243, 239; /* #e9f3ef */ }
[data-theme="emerald_light"] { --color-modal: 232, 242, 241; /* #e8f2f1 */ }
[data-theme="teal_light"] { --color-modal: 229, 242, 242; /* #e5f2f2 */ }
[data-theme="cyan_light"] { --color-modal: 232, 244, 246; /* #e8f4f6 */ }
[data-theme="sky_light"] { --color-modal: 232, 239, 245; /* #e8eff5 */ }
[data-theme="blue_light"] { --color-modal: 233, 239, 245; /* #e9eff6 */ }
[data-theme="indigo_light"] { --color-modal: 240, 242, 249; /* #f0f2f9 */ }
[data-theme="violet_light"] { --color-modal: 240, 239, 248; /* #f0eff8 */ }
[data-theme="purple_light"] { --color-modal: 241, 239, 248; /* #f1eff8 */ }
[data-theme="fuchsia_light"] { --color-modal: 245, 236, 245; /* #f5ecf5 */ }
[data-theme="pink_light"] { --color-modal: 245, 236, 242; /* #f5ecf2 */ }
[data-theme="rose_light"] { --color-modal: 245, 235, 239; /* #f5ebef */ }
[data-theme="slate_light"] { --color-modal: 240, 242, 245; /* #f0f2f5 */ }
[data-theme="zinc_light"] { --color-modal: 240, 241, 246; /* #f0f1f6 */ }
[data-theme="stone_light"] { --color-modal: 242, 241, 239; /* #f2f1ef */ }
