
/* Route based styles */

body.p_auth {
  background-color: rgb(var(--color-bg-alt));
}

/* Content & Modal wrapper */

.cw, .mw {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mw {
  max-height: calc(100vh - 50px);
  /* max-height: calc(100vh - var(--rem-medium) - var(--rem-medium)); */
}

.mw .scr_area {
  /* 45px is the height of modal header toolbar */
  max-height: calc(100vh - 50px - 50px);
  /* max-height: calc(100vh - var(--rem-medium) - var(--rem-medium) - 45px); */
}

.mw_adjust_center {
  padding-top: calc(25px * 2);
}

.mw_adjust_center .modal_main_content {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.cw.tn, .mw.tn {
  /* was .tiny */
  max-width: 380px;
}

.cw.xs, .mw.xs {
  max-width: 425px;
}

.cw.sm, .mw.sm {
  /* was .default_alt */
  max-width: 640px;
}

.cw.df, .mw.df {
  max-width: 780px;
}

.cw.md, .mw.md {
  max-width: 1140px;
}

.cw.lg, .mw.lg {
  max-width: 1280px;
}

.cw.xl, .mw.xl {
  max-width: 1440px;
}

.cw.full, .mw.full, .mw.max {
  flex: 1;
  max-height: 100%;
}

.cw.full .cw, .mw.full .cw, .mw.max .cw {
  max-height: 100%;
}

/* Max size modals */

.mw.max {
  background: radial-gradient(ellipse at center, rgba(var(--color-bg-alt), .7) 50%, rgba(var(--color-bg-alt), 0) 100%);
  /* background: radial-gradient(ellipse at center, rgba(var(--color-bg-active), .9) 50%, rgba(var(--color-bg-active), 0) 100%); */
  /* background: radial-gradient(ellipse at center, rgba(var(--color-bg-medium), .9) 50%, rgba(var(--color-bg-medium), 0) 100%); */
  /* background: radial-gradient(ellipse at center, rgba(var(--color-bg-strong), .9) 50%, rgba(var(--color-bg-strong), 0) 100%); */
}

/* Sidebar */

.w_lsidebar {
  padding-right: var(--sidebar-wt);
}

/* Content with right <aside /> sticky sidebar */

.w_app_side {
  padding-left: calc(var(--aside-wt) + 30px);
}

.app_aside {
  position: absolute;
  width: var(--aside-wt);
  padding-right: 20px;
  max-height: calc(100vh - var(--toolbar-ht));
  top: var(--toolbar-ht); left: 0;

  /* position: fixed;
  width: var(--aside-wt);
  padding-right: 20px;
  max-height: calc(100vh - var(--toolbar-ht));
  top: var(--toolbar-ht); left: var(--sidebar-wt); */
}

/* Floating message */

.floating_msg_cnt {
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  transform: translateY(0);
  opacity: 0;
}

.floating_msg_cnt.active {
  transform: translateY(var(--toolbar-ht));
  opacity: 1;
}

.floating_msg {
  margin: 0 -1rem;
}

/* Helpers, to work with layout variables */

.min_h_toolbar_screen {
  min-height: calc(100vh - var(--toolbar-ht));
}

.max_h_toolbar_screen {
  max-height: calc(100vh - var(--toolbar-ht));
}

/* App layout; toolbar title */

#app_toolbar_title {
  height: var(--toolbar-ht);
  flex-shrink: 0;
}

/* App layout; account nav */

#app_toolbar_right {
  position: absolute;
  top: 0; right: 0; z-index: 50;
  height: var(--toolbar-ht);
}

/* App layout; sidebar */

#app_sidebar {
  position: relative;
  width: var(--sidebar-wt);
  transition: width ease .2s;
}

.app_sidebar_inside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-wt);
  transition: left ease .2s;
}

.app_sidebar_inside_width {
  width: calc(var(--sidebar-wt) - 27px);
}

/* App layout; sidebar mobile responsive design */

@media (max-width: 1024px) {
  #app_sidebar {
    width: 0;
  }
}

/* App layout; main content (scroll area) */

.app_scr {
  /* position: relative; */
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* scroll-behavior: smooth; */
  /* After a recent update, this no longer works in Chrome */
  /* overflow-y: overlay; */
  scrollbar-gutter: auto;
  /* In "new" Google Chrome, this will make the scrollbar invisible, so we must turn it off. */
  /* scrollbar-width: thin; */

  /* This is for bottom-up chat style virtualized list */
  overflow-anchor: none;
}

.app_scr::-webkit-scrollbar {
  width: 18px;
  /* background-color: rgb(var(--color-bg-alt)); */
}

.app_scr::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 5px rgb(var(--color-bg));
  border-radius: 9px;
}

.app_scr::-webkit-scrollbar-thumb {
  z-index: -1;
  /* Use this for invisible style */
  /* background-color: rgb(var(--color-bg-active)); */
  background-color: transparent;
  box-shadow: inset 0 0 0 5px rgb(var(--color-bg));
  /* transform: scale(.5); */
  border-radius: 9px;
  min-height: 100px;
}

.app_scr:hover::-webkit-scrollbar-thumb {
  /* background-color: rgb(var(--color-bg-medium)); */
  background-color: rgb(var(--color-bg-active));
}
