
/* Route based styles */

body.p_auth {
  background-color: rgb(var(--color-bg-alt));
}

/* Content & Modal wrapper */

.cw, .mw {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mw {
  max-height: calc(100vh - 50px);
  /* max-height: calc(100vh - var(--rem-medium) - var(--rem-medium)); */
}

.mw .scr_area {
  /* 45px is the height of modal header toolbar */
  max-height: calc(100vh - 50px - 45px);
  /* max-height: calc(100vh - var(--rem-medium) - var(--rem-medium) - 45px); */
}

.mw_adjust_center {
  padding-top: calc(25px * 2);
  /* padding-top: calc(var(--rem-medium) * 2); */
}

.mw_adjust_center .mw {
  /* This hides the bottom rounded corners */
  max-height: calc(100vh - 50px + 14px);
  /* max-height: calc(100vh - var(--rem-medium) - var(--rem-medium) + 14px); */
}

.mw_adjust_center .mw .scr_area {
  /* 45px is the height of modal header toolbar */
  max-height: calc(100vh - 50px - 31px);
}

.cw.tn, .mw.tn {
  /* was .tiny */
  max-width: 380px;
}

.cw.xs, .mw.xs {
  max-width: 420px;
}

.cw.sm, .mw.sm {
  /* was .default_alt */
  max-width: 640px;
}

.cw.df, .mw.df {
  max-width: 780px;
}

.cw.md, .mw.md {
  max-width: 1140px;
}

.cw.lg, .mw.lg {
  max-width: 1280px;
}

.cw.xl, .mw.xl {
  max-width: 1440px;
}

.cw.full, .mw.full {
  flex: 1;
  max-height: 100%;
}

.cw.full .cw, .mw.full .cw {
  max-height: 100%;
}

/* Sidebar */

.w_lsidebar {
  padding-right: var(--sidebar-wt);
}

/* Content with right <aside /> sticky sidebar */

.pg_aside {
  width: var(--aside-wt);
  top: 0;
}

/* Floating message */

.floating_msg_cnt {
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  transform: translateY(0);
  opacity: 0;
}

.floating_msg_cnt.active {
  transform: translateY(var(--toolbar-ht));
  opacity: 1;
}

.floating_msg {
  margin: 0 -1rem;
}
